@model HospitalManagementSystem.ViewModel.PatientViewModel.PatientListViewModel;

<div class="container mt-3">
    <div class="d-flex justify-content-between">
        <h2>All Patients</h2>
        <a href="@Url.Action("AddPatient", "Patient")" class="btn btn-primary mt-2">Add Patient</a>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var patient in Model.Patients)
        {
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <h2 class="card-title">@patient.PatientName</h2>
                            <h3>@patient.Address</h3>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <a href="@Url.Action("UpdatePatient", "Patient", new { id = patient.PatientId })" class="btn btn-primary">Edit Patient</a>
                            <a href="@Url.Action("DeletePatient", "Patient", new { id = patient.PatientId })" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="d-flex justify-content-end">
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary mt-2">First Page</a>
    </<div>
